body{
    background-color:whitesmoke;
    
    
}
.container-fluid{
    padding: 0px;
}

.first-div{
    height: 30vw;
    padding-bottom: 5vw;
}

.city{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8.5vw;
    color: #706b8c;
    text-shadow: 2px 2px 4px grey;
    padding-top: 11vw;
   
}
.input-wrap{
    position: absolute;
    top: 0px;
    z-index: 10;
   
}


.your-city-input{
    width: 60vw;
    padding-left: 4px;
    margin-top: 2vw;
    border: 2px solid  #48464f;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 5px #48464f;
    font-size: 4vw;
    font-weight: bold;
    color: #48464f;
}


.city-button{
    border: 2px solid  #48464f;
    background-color:  #48464f;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 5px #48464f;
    font-size: 4vw;
    text-shadow: 2px 2px 5px black;
    color: white;
}

ul {
    padding-left: 0px;
}

.city-list li{
    background-color: white;
    margin: 0px;
    width: 60vw;
    list-style-type: none;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color:#48464f;
    font-size: 4vw;
    font-weight: bold;
    color: #48464f;
    padding-left: 3px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 5px #48464f;
}

.img-div{
    position: relative;
    padding-right: 0px;
}

.current-weather{
    padding-top: 1vw;
    position: absolute;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.75);
    padding-bottom: 1vw;
   
}


.date{
    font-family: 'Courier New', Courier, monospace;
    font-size: 4vw;
    color: grey;
    padding-top: 0.5vw;
    margin-bottom: 0px;
    
   

}

.temperature {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 8vw;
    color: #48464f;
    margin-top: 1vw;
    margin-bottom: 1vw;
    
}


 .pressure, .wind, .precipitation{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4vw;
    color: #48464f;
    margin-top: 0px;
    margin-bottom: 7px;
}

.next-days{
    
    padding-left: 3px;
    padding-bottom: 5vw;
    
}
.square{
    margin-top: 25px;
    border-left: 2px solid grey;
   
}
.first-square{
    border-left: 0px;
}

.day-of-week, .temp{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4vw;
    font-weight: bold;
    color: #48464f;
    padding: 0px;
    
}

.icon{
    display: block;
    margin: 0px auto;
}


.img-div-2{
    padding-right: 0px;
}


@media screen and (min-width: 1000px){

 .first-div{
    height: 300px;
    }

.your-city-input{
    width: 364px;
    margin-top: 30px;
    font-size: 28px;
 }

 .city-button{

    font-size: 28px;

 }

 .city-list li{
    font-size: 28px;
    width: 364px;
 }

 .city{
     font-size: 90px;
     padding-top: 100px;
    
 }

 .date{
     font-size: 48px;
     padding-top: 0px;
     margin-bottom: 15px;
 }

 
 .temperature{
     font-size: 80px;
     margin-bottom: 20px;
     
 }


 .pressure, .wind, .precipitation{
     font-size: 36px;
 }



 .next-days{
     padding-top: 40px;
     padding-bottom: 60px;
 }

 .day-of-week, .temp{
     font-size: 28px;
 }
 
}


@media screen and (min-width: 2000px){
    .img-div-2{
        display: none;
    }

}

@media screen and (min-width: 1000px) and (min-height: 1000px){
    .city{
        font-size: 90px;
    }

}
