body{
    background-color:whitesmoke;
}
.container-fluid{
    padding: 0px;
}



.your-city-input{
    margin-top: 5px;
    border: 2px solid  #48464f;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 5px #48464f;
    font-size: 3.5vw;
    color: #48464f;
}

.city-button{
    border: 2px solid  #48464f;
    background-color:  #48464f;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 5px #48464f;
    text-shadow: 2px 2px 5px black;
    font-size: 3.5vw;
    color: white;
}
.img-div{
    position: relative;
    padding-right: 0px;
}

.current-weather{
    position: absolute;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.6);
   
}


.city{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 10vw;
    color: #706b8c;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px grey;
   
}
.date{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3.5vw;
    color: grey;
    margin-top: 3px;
    margin-bottom: 3px;

}

.temperature {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5vw;
    color: #48464f;
    margin-bottom: 5px;
}

.cloudy, .rainfall, .pressure, .wind, .sunrise-sunset{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5vw;
    color: #48464f;
    margin-top: 5px;
    margin-bottom: 5px;
}

.marg{
    margin-left: 1%;
}
.square{
    margin-top: 25px;
    border-left: 2px solid grey;
   
}
.first-square{
    border-left: 0px;
}

.day-of-week, .temp{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.4vw;
    font-weight: bold;
    color: #48464f;
    
}
.img-div-2{
    padding-right: 0px;
    margin-top: 25px;
}


